$secondary-color: #2f2d2d;
$primary-color: rgb(204, 204, 204);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #e2e1de;
	color: #2f2d2d;
	height: 100%;
}

.secondary-text {
	color: $secondary-color;
	font-family: "Oleo Script", cursive;
}

header,
footer {
	background-color: #772133;
	height: 12%;
	min-width: 100%;
	font-family: "Tangerine", cursive;
}

#title {
	color: $primary-color;
	height: 100%;
	font-size: 400%;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	padding-top: 10px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#calc1 {
	margin: auto;
	width: 70%;
	padding: 15px;
	height: 75%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	column-gap: 10px;
	row-gap: 10px;
}

.grid-item {
	height: 100%;
	// width: 100%;
	text-align: center;
	font-size: 2rem;
}
